# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pyplot
2. matplotlib
3. ggplot

| Data Science Tools | 
| --- |
| Tensorflow |
| RStudio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
 (3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [4]:
2000/60

33.333333333333336

 This will convert 200 minutes to hours by diving by 60

**Objective:**
* List Popular Languages 
* Arthimetic Operations
* Create tables

## Author
Kalden